body {
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background-color: grey;
    margin: 0;
    background-image: url(/img/hero.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

h3 {
    text-align: center;
    color: white;
}

section {
    width: 75vw;
    max-width: 450px;
    background-color: rgba(255, 20, 0, 0.6);
    margin: 22px auto;
    padding: 23px;
    border-radius: 7px;
    backdrop-filter: blur(20px) saturate(200%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
}

section div {
    margin-bottom: 2px;
}

.textform {
    display: flex;
    justify-content: space-between;
}

input[type="text"],
input[type="date"],
input[type="email"] {
    padding: 2px;
    font-size: 1em;
}

select {
    padding: 6px;
    font-size: 1em;
    border: 0;
}

button {
    padding: 6px 28px;
    font-size: 1em;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    background-color: darkblue;
    color: white;
}

button:hover {
    background-color: lightblue;
    color: darkblue;
}

button:active {
    background-color: red;
}

@media (max-width: 500px) {
    section {
        width: 90vw;
    }

    .textform {
        width: 100%;
    }

    .textform,
    .textform label {
        display: block;
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
    }
}