body {
    margin: 0px;
    background-color: brown;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

nav a {
    border-style: groove ;
    background-color: aqua;
    color: navy;
    flex: 1;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: aquamarine;
    color: aliceblue;
}

header {
    display: flex;
    justify-content: center;
    background-image: url(/img/hero.png);
    background-size: cover;
    height: 30vh;
    background-position: center;
}

header div {
    margin: auto;
    color: black;
    font-size: 3em;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
    

}

main section {
    display: flex;
    flex-direction: column;
    
}

main div {
    background-color: navy;
    text-align: center;
    color: white;
    margin: 1vh auto;
    border-style: ridge;
    border-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    
}

main div div {
    border-style: none;
    border-color: violet;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main img {
    width: 30vw;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

main a {
    color: aliceblue;
    text-decoration: none;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

main a:hover {
    color: darkred;
    border-style: dashed;
    border-color: crimson;
    background-color:cornflowerblue;
}

#projecten img {
    width: 50vw;
}

footer section div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer img {
    width:100%;
    height: 6vh;
}

@media (min-width: 600px) and (max-width: 1000px) {
    nav {
        flex-direction: row;
    }

    footer img {
        width:100%;
        height: 8vh;
    }


}

@media (min-width: 1000px) {
    nav {
        flex-direction: row;
    }

    header div {
        color: aliceblue;
    }

    #centralArea {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    #knowledge {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    
    main div {
        width: 95%;
    }

    main img {
        width: 20vw;
        height: 100%;
        object-fit: cover;
        margin: auto;
    }

    #projecten section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #projecten img {
        width: 20vw;
    }

    footer img {
        width:100%;
        height: 10vh;
    }

}

@media (max-width: 60px) {
    nav a {
        font-size: 0.5em;
    }
    header div {
        font-size: 1em;
        
    }
}