:root {
    --bg-color: #533665;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Xanh+Mono&display=swap');

body {
    margin: 0px;
    background-color: #9D3B4A;
    animation: gradient 10s ease-in alternate;
    font-family: 'Xanh Mono', monospace;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: sticky;
    top: 0px;
}

nav a {
    border-style: groove ;
    background-color: #BC5FAC;
    color: #533665;
    flex: 1;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: aquamarine;
    color: aliceblue;
}

header {
    display: flex;
    justify-content: center;
    background-image: url(..//img/uraya-background.png);
    background-size: cover;
    height: 30vh;
    background-position: bottom;
}

header div {
    margin: auto;
    color: black;
    font-size: 3em;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
    

}

main section {
    display: flex;
    flex-direction: column;
    
}

main div{
    background-color: var(--bg-color);
    text-align: center;
    color: white;
    margin: 1vh auto;
    padding: 1vw auto;
    border-style: ridge;
    border-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    
}

main div div {
    border-style: none;
    border-color: violet;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main img {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    margin: auto;
}

main a {
    color: aliceblue;
    text-decoration: none;
    margin-top: 3vh;
    margin-bottom: calc(1vh+3px);
}

main a:hover {
    color: darkred;
    border-style: dashed;
    border-color: crimson;
    background-color:cornflowerblue;
}

#projecten img {
    width: 50vw;
    object-fit: cover;
}

footer section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer div{
    background-color: var(--bg-color);
    text-align: center;
    color: white;
    margin: 1vh auto;
    border-style: ridge;
    border-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    
}

footer a {
    color: aliceblue;
}

footer img {
    width: 6vw;
    height: 6vh;
}

iframe {
    width: 100%;
    object-fit:contain;
}

h2  {
    font-family: 'Lobster', cursive;
}

header {
    font-family: 'Lobster', cursive;
}


@keyframes gradient{
    0% {
        background-color: #9D3B4A;
    }
    50% {
        background-color: #E98A50;
    }
    100% {
        background-color: #9D3B4A;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    nav {
        flex-direction: row;
    }

    footer img {
        width:8vh;
        height: 8vh;
    }


}

@media (min-width: 1000px) {
    nav {
        flex-direction: row;
    }

    header div {
        color: aliceblue;
    }

    #centralArea {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    #knowledge {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    
    main div {
        width: 50vw;
    }

    main img {
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        margin: auto;
    }

    #projecten section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #projecten img {
        width: 20vw;
    }

    footer img {
        width:100%;
        height: 10vh;
    }

}

@media (max-width: 60px) {
    nav a {
        font-size: 0.5em;
    }
    header div {
        font-size: 1em;
        
    }
}