body {
    background-color: rgb(165,42,42);
    color:rgb(255,230,230);
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    margin: 0px;
    
}



#opening {
    display: flex;
    justify-content: space-around;
}

div {
    background-color:  rgb(0, 0, 128);
    width: 50vw;
    margin: 2em auto;
    padding: 2em;
    text-align: center;
    border-style: ridge;
    border-color: violet;
    box-shadow: 5px 10px rgba(10,10,50, 10);
}

a{
    color: rgb( 250, 235, 215);
   
}

a:hover{
    color: rgb(12,59,59);
}

nav a {
    background-color:rgb(175,238,238);
    border-style:solid;
    border-color: rgb( 250, 235, 215);
    color: rgb(0,0,0);
    font-size: 2em;
}

nav a:hover {
    background-color: rgb(12, 59, 59);
    color: rgb(255,255,255);
}

/*.righty {
    margin-right: 2vw;
    text-align: right;
}

.lefty {
    margin-left: 2vw;
    text-align: left;
}
*/

section {
    display: flex;
    justify-content: space-between;
}

ul {
    display: inline-block;
    text-align: left;
    margin-bottom: 2em;
}

ol {
    display: inline-block;
    text-align: left;
    margin-bottom: 2em;
}

table {
    margin-bottom: 2em;
}

img {
    display: block;
    width: 15em;
    margin-left: 0vw;
    margin-bottom: 2em;
}

section img {
    margin: auto;
}